body, html {
  background-image: url('../img/imagen_azparren_otono.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

/* Contenedor del login */
.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(13, 68, 13, 0.2);
}

form input {
  align-items: center;
  width: 100%;
  text-align: center;
}

.recover-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(13, 68, 13, 0.2);
}

  /* Estilo para el formulario */


.button {
  display: inline-block;
  text-decoration: none;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.button:hover {
  background-color: #a6f5b6;
}

footer {
    position: fixed;
    width: 100%;
    background-color: rgb(20, 112, 37);
    color: rgb(222, 229, 223);
    font-size: 25px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    bottom: 0;
      }
      #pie_pagina::before {
        content: " ★ ⛰️";
      }
      #pie_pagina::after {
        content: "⛰️ ★ ";
      }
