.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "menu menu content sidebar"
    "footer footer footer footer";
  grid-gap: 5px;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: content;
}
.item4 {
  grid-area: sidebar;
}
.item5 {
  grid-area: footer;
}
.item {
  background-color: lightgreen;
  padding: 20px;
}