* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../img/imagen_azparren_otono.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Gabarito", serif;
}

/* Header Styles */
header {
  position: fixed;
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;      /* Dirección del eje principal */
  justify-content: right;  /* Centra los ítems en el eje principal (horizontal) */
  align-items: center;      /* Centra los ítems en el eje cruzado (vertical) */
  background-color: white;
  padding: 5px;
}

nav {
  display:flex
  background-color: white;
  justify-content: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease,
              color 0.3s ease,
              box-shadow 0.3s ease;
}

/* Nuevo efecto hover con sombra y cambio de fondo suave */
nav ul li a:hover {
  background-color: #F6EEC9;  /* Fondo muy sutil */
  color:  #EF4E4E;  /* Cambio de color */
  box-shadow: 0 6px 10px #EF4E4E;  /* Sombra sutil */
}

/* Efecto de desplazamiento lateral con pseudo-elemento */
nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color:  #EF4E4E;
  transition:
      width 0.3s ease,
      left 0.3s ease;
}

nav ul li a:hover::before {
  width: 100%;
  left: 0;
}

/* Central Grid Container */
.contenedor-grid {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  padding: 20px 20px 20px; /* Espaciado adicional para el header y el footer */
 /* Permite que el grid ocupe espacio vertical */
}

.grid-bienvenida {
  display: grid;
  grid-template-areas:
    "bienvenida animado"
    "bienvenida foto";
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin-top: 4%;
  padding: 10px;
  max-width: 1200px;
  max-height: 100vh;
  width: 100%;
  height: auto;
  background-color: #F6EEC9;
  opacity: 0.9;  ;
  border-radius: 15px;
}

/* Welcome Message */
.mensaje-bienvenida {
  grid-area: bienvenida;
  background-color: #A1DD70;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h3 {
  text-align: center;
}

@keyframes logo-animado {
  from {
    transform: scale(0.8);
  }
  75% {
    transform: scale(1.9);
  }
  to {
    transform: scale(1);
  }
}

/* Animated Logo */
.logo-animado {
  animation-name: logo-animado;
  animation-duration: 3s;
  grid-area: animado;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile Photo */
.foto-saioa {
  grid-area: foto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-saioa img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #EF4E4E;
  color: rgb(222, 229, 223);
  text-align: center;
  padding: 10px;
}

#pie_pagina::before {
  content: " ★ ⛰️";
}

#pie_pagina::after {
  content: "⛰️ ★ ";
}

@media (max-width: 768px) {
  .grid-bienvenida {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-areas:
      "bienvenida"
      "animado"
      "foto";
    padding: 10px;
  }

  .mensaje-bienvenida, .logo-animado, .foto-saioa {
    width: 100%;
    padding: 10px;
  }

  /* Ajuste de imagen para evitar desbordes */
  .foto-saioa img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}
